[2021-02-10 10:34] excerebrose opened #2 "Swaggerize HMT-Escrow"
Create a Daemon service that encapsulates and implements the API spec as defined in:
https://app.swaggerhub.com/apis/excerebrose/human-protocol/1.0.0

[2021-03-11 12:59] excerebrose opened #4 "Update Contribution & Development Docs"

[2021-04-07 09:07] uivlis commented on #2
https://github.com/humanprotocol/human-api

[2021-04-07 09:07] #2 closed

[2021-04-07 09:11] uivlis opened #5 "Have ability to choose HMT source for funding escrow contracts (as opposed to relying always on our gas payer)"
Make hmt-escrow able to let the user decide from where to grab HMT and fund the escrow contract (i.e., transform the `gas_payer` environment variable into a function parameter).

[2021-04-08 08:41] uivlis commented on #5
@gaieges There was a similar stretch issue that I was assigned last year, I couldn't find it and link it here... Perhaps you remember which repo was it in? Searched in hmt-escrow and hmt-servers.

[2021-04-08 12:25] posix4e commented on #5
@excerebrose any issues with this?

[2021-04-08 12:28] uivlis commented on #5
There are a couple of issues with the hmt-escrow changes related to the mainnet launch... Take, for instance, the problem of who pays for the gas of the tx by which that user funds the escrow: him, or us (remember, it's mainnet)? Then, you must ensure that the user buys HMT at the same address that they launch the job with us (for which we have the private key in paymentagent's users db), otherwis

[2021-04-09 01:28] excerebrose commented on #5
I think this makes sense, will be helpful in the plans we have down the road as well.

[2021-04-15 10:45] uivlis commented on #4
I'm still on this... I will get it done (eventually...).

[2021-04-21 13:02] excerebrose commented on #4
Icebox for now, other relevant documentation will circumvent this issue.

[2021-08-05 12:16] rodriguez-facundo opened #269 "...."
...

[2021-08-05 12:19] #269 closed, assigned to nobody

[2021-08-12 13:55] humanproto opened #270 "Add a new labeling network"
**Is your feature request related to a problem? Please describe.**
Currently human protocol is limited to a few networks to label work. Add support for popular labeling networks such as

* [ ] a labeling platform such as [scale.ai, mechanical turk, ml vision platforms]
* [ ] a captcha breaking platform such as [anticaptcha, 2captcha]
or
* [ ] Other work platforms

**Describe the solution you'd lik

[2021-08-27 08:11] spirit-q2 opened #272 "Remove dependency on the `trinity` package"
We have the package only for its dependencies, not for the package itself. What we actually use is `web3==5.12.0` and `py-evm==0.3.0a18`.
Since the `trinity` package is not maintained and its repository archived, there are no benefits of keep using it and it can be replaced with the real dependencies.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200560623420491/120117541

[2021-10-03 11:44] rodriguez-facundo opened #274 "High failure rate on setup"
Seeing this error

[code]

[2021-10-04 16:48] posix4e opened #276 "Add polygon network"
- [ ]  add network to truffle
- [ ]  deploy smart contracts to polygon
- [ ]  Add some jobs to the polygon market
- [ ]  Add endpoint for polygon submission

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200560623420491/1201175417275409) by [Unito](https://www.unito.io)

[2021-10-05 08:57] #274 closed, assigned to nobody

[2021-10-08 18:12] posix4e commented on #276
Keep in mind, this should be pretty easy to deploy the smart contracts. you should be able to just add the networks and run it and deploy it yourself. Then we can hook it up to CI

[2021-10-09 18:19] molecula451 opened #277 "[Update] Outdated Docs"
Docs seems to be lacking proper up to date info

![Screenshot from 2021-10-09 14-16-26](https://user-images.githubusercontent.com/41552663/136669850-ff0a7f32-dbd4-4692-b8ab-60d31f5c5884.png)

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200560623420491/1201175416679201) by [Unito](https://www.unito.io)

[2021-10-13 07:21] vinhbhn commented on #276
@gitcoinbot I'm working on it.

[2021-10-13 12:33] vinhbhn commented on #276
I deployed the contract on Polygon: 0x8EA44195a60850eC58A6272f07C63863e1fA7ff4

[2021-10-13 12:34] posix4e commented on #276
Should be multiple contracts. Maybe do a pr adding the contracts to the
readme file.

On Wed, Oct 13, 2021, 8:33 AM Vincent ***@***.***> wrote:

[2021-10-13 12:36] posix4e commented on #276
We also need https://github.com/humanprotocol/eth-kvstore to use the system

[2021-10-13 14:35] vinhbhn commented on #276
Here is the list of contracts that I have deployed on Polygon:
HMT Token: 0xc748B2A084F8eFc47E086ccdDD9b7e67aEb571BF
Escrow: 0x151c174E87580749c67C3D9dCf34F0dEAa97Ac6F
Escrow factory: 0x0674a57a8c4Be5c56E9cF1d8c1c35C7062E001eA
Ethkv-store: 0x8C8aC9400f54E30B6666De491F7042f7323ABa56

Address canceler: 0xc19F12782FD1B2cB1Fd543e91E897DCff1C1a8D2
Address handlers: [0x1df15532a77D5d09020919362B4d0878A8

[2021-10-13 14:37] posix4e commented on #276
Great wanna add that to the readme or in a separate doc section?

On Wed, Oct 13, 2021, 10:35 AM Vincent ***@***.***> wrote:

[2021-10-13 14:39] vinhbhn commented on #276
I will add it to the readme

[2021-10-14 03:45] vinhbhn commented on #276
Can you send me the application (frontend) that interacts with the chain?

[2021-10-16 03:26] vinhbhn commented on #276
I think you should deploy the cHMT contract on polygon and give me the address or contact the polygon team to remapping the HMT contract on the polygon network.

HMT contract: https://polygonscan.com/address/0xc748b2a084f8efc47e086ccddd9b7e67aeb571bf

And now you can see it on polygon wallet and polygon bridge: https://wallet.polygon.technology/bridge

[2021-10-26 11:01] adam-mrozik commented on #272
@spirit-q2 , unfortunately we have a dependency for trinity:
https://github.com/humanprotocol/hmt-escrow/blob/master/hmt_escrow/storage.py#L10

this `p2p` module is available in trinity package

EDIT:
Though `trinity` is archived anyway.
The official package from Ethereum that seem to be doing similar job as the code above is https://github.com/ethereum/pydevp2p
Will see if replacing it 1:1 will w

[2021-10-26 14:50] adam-mrozik commented on #272
Above package is heavily outdated and conflicts on sub-dependencies (there are issues on github stating the same issue and it has not been touched for 4 years), so it is not an option.

My call would be to take this small p2p crypto script and bring it to ourselves, since it is MIT licence, but I am not sure if this is something we can/want to do.
@e271828- Could you comment if this is the solutio

[2021-10-29 01:47] #272 closed, assigned to nobody

[2021-10-29 07:53] excerebrose commented on #276
@vinhbhn excellent work. Can we submit this to the bridge if you’ve already deployed the polygon child contract?

https://etherscan.io/token/0xd1ba9BAC957322D6e8c07a160a3A8dA11A0d2867

is the ethereum mainnet token.
I will probably also need access to the polygon contract deployer wallet after it’s done.

[2021-10-29 09:12] vinhbhn commented on #276
@excerebrose Yes, you can.
First, you need to deploy the cHMT contract (child contract) on polygon network.
Second, you need to contact the [polygon team](https://support.polygon.technology/support/home) and they will assist you in remapping your token.
![human](https://user-images.githubusercontent.com/71333634/139409267-82b9a998-8680-49bd-8be2-ff31938cb047.png)

[2021-10-29 09:14] excerebrose commented on #276
@vinhbhn Yup, got that. But the hmt contract you deployed on polygon, isn't that the cHMT contract itself?

[2021-10-29 09:29] vinhbhn commented on #276
Exactly, the contract address is 0x...571bf not deployed by me, the polygon team deployed this. This contract is an erc20 standard contract.
But I talked to the polygon team and asked them to check the cHMT contract. As for the remapping issue, I also asked them and they said they can help me remapping with the contract I deploy. But I think if there is no problem, your team can use this contract.

[2021-11-02 09:31] excerebrose commented on #276
@vinhbhn Just to confirm; You've been paid out for this issue?

[2021-11-03 08:43] vinhbhn commented on #276
@excerebrose Yes, i have received it.

[2021-11-03 11:06] excerebrose commented on #276
@vinhbhn excellent; I'll be closing out this issue shortly. Could you provide me the wallet details (MNEMONIC works) personally at harry@hmt.ai that you used to launch the contracts.
Thanks for your work. Will continue the conversation over mail

[2021-11-11 18:43] posix4e commented on #276
Checking in here, what's next to close this?

[2021-11-12 16:53] lijiang2087 opened #282 "Add Harmony network"
* [ ]  add network to truffle
* [ ]  deploy smart contracts to harmony
* [ ]  Add some jobs to the harmony market
* [ ]  Add endpoint for harmony submission

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200560623420491/1201367257686083) by [Unito](https://www.unito.io)

[2021-11-14 00:38] pmlambert commented on #282
Here is the PR with my submission: https://github.com/humanprotocol/hmt-escrow/pull/283
I think you'll find it just perfect and I hope you can review it as ASAP as possible.

[2021-11-15 11:38] excerebrose opened #284 "Add Filecoin support"
HMT escrow can store answers and results in any storage solution. We are exploring utilising [Filecoin](https://filecoin.io) as our storage solution.

Your task is to:

* Write an adapter to add filecoin support to hmt-escrow
* Standard tests

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200560623420491/1201373980524323) by [Unito](https://www.unito.io)

[2021-11-16 13:22] posix4e commented on #282
@pmlambert can you please sign the cla

[2021-11-16 15:00] pmlambert commented on #282
@posix4e done!

[2021-11-17 16:43] pmlambert commented on #282
@posix4e I would GREATLY appreciate this being finalized today, it would be a god send.

[2021-11-17 18:15] rodriguez-facundo opened #285 "Allow fail close on launch"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200560623420491/1201390036875705) by [Unito](https://www.unito.io)

[2021-11-17 18:20] posix4e commented on #282
Me as well. However the engineer on duty is super backed up with withdrawls. Thanks so much for your submission and someone will get to you soon. We are a part of the big DAO hackathon going on right now. Check us out.

[2021-11-18 00:59] #285 closed, assigned to nobody

[2021-11-19 07:57] excerebrose commented on #282
@pmlambert I have commented on the PR, apologies for the delay. Why is this [link]( https://github.com/pmlambert/special-journey) in the submission though?

[2021-11-19 07:59] excerebrose commented on #284
@ferasawadi we would ideally like to keep it so that we don't have to manage a web2 solution as well.

[2021-11-19 14:44] hhio618 commented on #284
Does anyone is working on this, currently? I can work on a simple IPFS solution if that's what you want?

[2021-11-19 17:29] pmlambert commented on #282
It was in a different repo originally.

It was in a different repo originally.

[2021-11-22 19:06] pmlambert commented on #282
@excerebrose Is there anything you'd like me to change before this can be marked complete? Things are tight around here.

[2021-11-27 15:22] pmlambert commented on #282
@excerebrose @posix4e It's been 2 weeks, I would appreciate it very much if you could take some time out of your days to wrap this one up. Super duper duper broke out here.

[2021-11-29 13:10] excerebrose commented on #282
@pmlambert Paying this out today, thanks for the good work!

[2021-11-29 15:00] excerebrose commented on #282
@pmlambert The Gitcoin bot is having issues. Can you tell me your ETH address & I can pay this out manually?
Terrible pending gas fees: https://etherscan.io/tx/0x5e61439d94b210b6c907d9ab492f1ecc2107a5570ed1cfb8b3b25204f34febc8

[2021-11-29 17:59] pmlambert commented on #282
Here you go
0x7Bc79fB4Eac1E1D52a987cef3163b60fcC0609c1

On Mon, 29 Nov 2021 at 10:00, Harjyot Singh ***@***.***>
wrote:

[2021-11-29 19:45] excerebrose commented on #282
@pmlambert paid. https://etherscan.io/tx/0xd7c92ee317547c4d32de91ef6b44db829213147454d48838b85e4ffe70b72a30

Thanks. Also please reply on the thread regarding the proof of humanity issue that you were working on.

[2021-12-03 23:27] rodriguez-facundo opened #287 "Add config to control retry logic in the Job class"
Would be great to have control over how a Job instance reacts to tx errors like "tx underprice".

Having the number of retries, delay between retries, and back-off law.

Defining it at the method level would be too cumbersome having to pass many parameters to adjust the desired behavior. So maybe a simple Retry class that can hold all the parameters on it and be added to the Job at instantiation t

[2021-12-04 01:38] #287 closed, assigned to nobody

[2022-01-19 19:32] Human-Protocol commented on #284
@hhio618 it mostly support ipfs. We originally used it.

[2022-02-03 15:36] madoyi commented on #284
Hello, can I do this project,
I will create the Filecoin storage system using ipfs and ffs and automate the tests

[2022-02-03 17:30] #276 closed, assigned to nobody

[2022-02-03 17:33] Human-Protocol commented on #282
This was completed. Please reach out to the human team at admin@hmt.ai if you have any questions about the rewards. We will be reopening this  gitcoin issues on march 1st.

[2022-02-03 17:33] #282 closed, assigned to nobody

[2022-02-03 17:33] Human-Protocol commented on #284
This was completed. Please reach out to the human team at admin@hmt.ai if you have any questions about the rewards. We will be reopening this  gitcoin issues on march 1st.

[2022-02-03 17:33] #284 closed, assigned to nobody

[2022-02-26 14:28] rodriguez-facundo opened #292 "Allow setup using a different HMT owner"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
1. Click on '....'
1. Scroll down to '....'
1. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2022-02-28 12:17] #292 closed, assigned to nobody

[2022-03-04 23:29] #270 closed, assigned to nobody

[2022-03-04 23:30] posix4e commented on #277
Tell me more, why is this incomplete? Closing for now

[2022-03-04 23:30] #277 closed, assigned to nobody

[2022-03-17 12:33] rodriguez-facundo opened #297 "Reduce logging for retry transactions"
logs can become spamming when retrying transactions with multiple gas payers. Would be better to move the retries to debug level and only log a warning when all the retries failed

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200560623420491/1201983829454917) by [Unito](https://www.unito.io)

[2022-03-18 20:13] #297 closed, assigned to nobody

[2022-03-23 13:56] posix4e opened #300 "Get Polygon maintainer"
* [ ] Launch Fortune (https://github.com/humanprotocol/fortune) on Polygon
* [ ] Verify the scanner on polygon is correct
* [ ] Verify the location of the polygon smart contracts

[2022-03-25 09:29] vkomodey commented on #300
HMT contract "owner"(actually, they owns Proxy) - is Polygon team. @AmrEssamSh is trying to reach them. but still no luck, they just ignore his requests, unfortunately

Scanner - polygonscan.com or dashboard.humanprotocol.org?

This is already done. We deployed factory, KV store. HMT deployed by Polygon team a while ago. Maybe I missing something?

[2022-03-29 19:45] rodriguez-facundo opened #301 "Validate enough HMT in gas payer before running job.setup"
If a gas payer does not have enough HMT to fund an escrow, we don't want to run job.setup() since on that gas payer since we know the transaction will be reverted.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1200560623420491/1202045579698114) by [Unito](https://www.unito.io)

[2022-03-31 10:35] #301 closed, assigned to nobody

[2022-04-05 12:37] #300 closed, assigned to nobody

[2022-04-05 12:38] posix4e opened #304 "Get a Polygon maintainer and verify standard checks have been done."
HMT-Escrow supports arbitrary EVM networks but there's a bit of work to do to make a network first class and make sure that it works. All of our EVM network launches are supported by gitcoin but you can gain a yearly bonus by being our network sponsor.

Polygon has already had a good deal of work done it

https://github.com/humanprotocol/hmt-escrow/pull/278
https://github.com/humanprotocol/hmt-esc

[2022-04-05 12:40] posix4e commented on #304
Most of this has been done already but lets have the new maintainer double check everything

[2022-04-05 12:46] posix4e opened #305 "Get a moonbeam maintainer and verify all the steps have been done."
Moonbeam has already had a good deal of work done for it

https://github.com/humanprotocol/hmt-escrow/pull/250
https://github.com/humanprotocol/hmt-escrow/pull/246
https://github.com/humanprotocol/hmt-escrow/commit/ee415369e7516cdacbd148e2036526d8f0417b16

Please review and build on these first.

HMT-Escrow supports arbitrary EVM networks but there's a bit of work to do to make a network first cla

[2022-04-06 15:45] vkomodey opened #307 "Make hmt-escrow working in the Polygon Mainnet"
**Short Description**
Polygon has a different implementation of the HMToken. It has no bulk related methods. Because of this, `hmt-escrow` library can't be used in the Polygon, since `Escrow` contract uses `transferBulk` method

**Main Description**
Polygon Mainnet has a standard ERC20 interface and implementation for the HMToken. It is implemented via the standard bridge mechanism and represents

[2022-04-06 16:08] e271828- commented on #307
@vkomodey this issue could be a bit clearer. What is the desired end behavior?

For example:

1. Add transferBulk equivalent to hmt-escrow Escrow contract.
2. Adjust hmt-escrow library to take `network` parameter in class setup, fall back to Escrow transferBulk method on networks where transferBulk is not natively available in the token contract.

[2022-04-07 09:26] vkomodey commented on #307
@e271828-
The list you provided looks more like list of solutions, but not a desired behavior. But, I agree that expected behavior description a little bit blurry, let me rephrase it

[2022-04-07 13:10] vkomodey commented on #307
Details of the solution I propose might be viewed in the PR #295

In a nutshell: the idea is to have separate contracts for separate networks(only when they differ, Ethereum Mainnet and Rinkeby are using same pack, Polygon using another one(updated HMT and Escrow)). Add a possibility to configure contracts you use via env variable or argument during setup

As an alternative I see updating Escrow `

[2022-04-08 12:36] posix4e commented on #305
@kaselunt if you need support please join tech-discussions on the human protocol discord at hmt.ai

[2022-04-08 12:36] posix4e commented on #304
Wonderful! Glad you can do a couple of chains.

[2022-04-08 12:36] posix4e commented on #304
if you need support please join tech-discussions on the human protocol discord at hmt.ai

[2022-04-08 12:36] posix4e commented on #304
Once you get moonbeam done we will authorize this issue

[2022-04-09 05:00] kaseLunt commented on #305
Great, getting started on it now! Appreciate it

On Fri, Apr 8, 2022 at 5:36 AM Alex Newman ***@***.***> wrote:

[2022-04-12 00:00] developerfred commented on #305
@posix4e if this issue is available i would like to work on it

[2022-04-12 07:53] kaseLunt commented on #305
The contracts have been deployed and verified on moonscan:

Verifying EscrowFactory
Pass - Verified:

https://moonbase.moonscan.io/address/0xeD26cc8A4eC4ade08BC7bc53951af9146F52347F#code

Verifying HMToken
Pass - Verified:

https://moonbase.moonscan.io/address/0xB1CD56218Dbc475360A454F71d870d844c6bD4E5#code

Verifying Migrations
Pass - Verified:

https://moonbase.moonscan.io/address/0xC911825fB431

[2022-04-12 13:38] Human-Protocol commented on #305
Sure
if you need support please join tech-discussions on the human protocol discord at hmt.ai

[2022-04-12 14:56] Human-Protocol commented on #304
@foufrix please make some comments in this issue so we can assign the issue to you

1) The token and escrow have already been deployed and the escrow contracts should be deployed
1a) https://dashboard.humanprotocol.org/ - contains the address for the escrow contracts you can see it's live. That's one less task you should do, but please quickly verify it looks ok.
1b) https://polygonscan.com/token/

[2022-04-12 15:02] foufrix commented on #304
@Human-Protocol Hi thanks to accepting me for this task, I have 2 questions :
- https://github.com/humanprotocol/hmt-escrow/issues/307 looks like it's a blocking issue for deploying on polygon, do you confirm? If so will it be solved soon?
- I went to the discord but did not find tech-discussions, if private channel can you give me access? I have the same name in discord

Ok, I'll take a look at i

[2022-04-12 15:03] Human-Protocol commented on #304
That is not blocking so no worries.

[2022-04-12 15:06] Human-Protocol commented on #304
@foufrix see if that fixes it

[2022-04-12 17:07] Human-Protocol commented on #305
This looks good for step

[2022-04-12 23:53] posix4e commented on #305
When deploying production contracts use a dedicated wallet with a seed phrase you don't use anywhere else. You might be required to share it with us.

[2022-04-12 23:53] posix4e commented on #304
When deploying production contracts use a dedicated wallet with a seed phrase you don't use anywhere else. You might be required to share it with us.

[2022-04-16 04:45] kaseLunt commented on #305
Here are the verified contracts on moonbeam main net:

EscrowFactory
Pass - Verified:
https://moonbeam.moonscan.io/address/0x3C5a2966A1b5eBF9f4b2B372857C4deD545Bed45#code

HMToken
Pass - Verified:
https://moonbeam.moonscan.io/address/0xa1d4836243DfA3259e28b8A9D11377455B935632#code

Migrations
Pass - Verified:
https://moonbeam.moonscan.io/address/0xb096Eb12D0EadD73283F802dFF35D26F85Ed260d#code

KVS

[2022-04-17 03:21] kaseLunt commented on #305
deployment details have been added to documentation:
https://github.com/humanprotocol/hmt-escrow/pull/313

escrow dashboard now properly supports moonbeam and moonbase:
https://streamable.com/06d0w5
https://github.com/humanprotocol/escrow-dashboard/pull/4

[2022-04-19 13:13] Human-Protocol opened #314 "Add neonlabs and become the official maintainer for this network integration"
HMT-Escrow supports arbitrary EVM networks but there's a bit of work to do to make a network first class and make sure that it works. All of our EVM network launches are supported by gitcoin but you can gain a yearly bonus by being our network sponsor. If you need support please join tech-discussions on the human protocol discord linked on hmt.ai.

### Steps to receive gitcoin bounty
* [ ] Launch

[2022-04-20 23:28] Human-Protocol commented on #314
Pmlambert please reach out to me

[2022-04-27 18:05] molecula451 commented on #314
Working on it @Human-Protocol

[2022-04-29 16:11] foufrix commented on #304
Hi @posix4e @vkomodey , I deployed everything on Polygon Testnet (Mumbai)
Here are the contract:
HMT : [0x0376D26246Eb35FF4F9924cF13E6C05fd0bD7Fb4](https://mumbai.polygonscan.com/address/0x0376D26246Eb35FF4F9924cF13E6C05fd0bD7Fb4) , because on devnet, all token are holded by one account, I will give the secret to the team
Escrow Factory : [0x558cd800f9F0B02f3B149667bDe003284c867E94](https://mumbai

[2022-05-02 14:30] Human-Protocol commented on #314
@molecula451 any updates?

[2022-05-02 14:33] Human-Protocol commented on #305
@kaseLunt can you confirm the token is not mintable?

[2022-05-02 14:33] Human-Protocol commented on #305
Sorry for the delay

[2022-05-02 14:36] vkomodey commented on #305
Token Supply equals to 10**18. It is mintable

[2022-05-02 14:50] Human-Protocol commented on #305
@kaseLunt I'm sorry we have to reject this until it's made non mintable

[2022-05-02 15:13] molecula451 commented on #314
yes, updating today @Human-Protocol

[2022-05-03 07:18] molecula451 commented on #314
# Update
- [x]  Launch the contracts on the devnet and make sure that everything is working
- [ ]  Launch contracts on production network and file a commit with all the contract information to this repo's
documentation. Here's an example [Add polygon contract info #296](https://github.com/humanprotocol/hmt-escrow/pull/296)

**Launching on Devnet till mainnet begins**
- [x]  Launch KVstore contract

[2022-05-03 13:18] Human-Protocol commented on #304
@foufrix there's already a live version on mainnet. Can you make sure that it's the same code as what you have got? Can you hook factory to it?

[2022-05-03 17:58] posix4e commented on #305
Perhaps we can just burn the existing tokens?

[2022-05-04 08:34] foufrix commented on #304
@Human-Protocol yep, I know for the live version,
HMT contract is the same
Escrow Factory is different (the difference is this one: https://github.com/humanprotocol/hmt-escrow/tree/polygon-escrow-bulk)
I need some HMT and MATIC to test it out on mainnet. Can you send some HMT & MATIC on polygon network here : 0xf183b3B34E70Dd17859455389A3aB54D49D41e6f
(it's the account I'll give you that hold the

[2022-05-04 12:10] vkomodey commented on #305
Burning tokens mean the total supply will be equal to 0. It means, the token itself(HMT) can't be used if there is no "increase supply" thing present. Basically this "increase supply" represents a deposit action(a good example is a Polygon HMT analogue)

[2022-05-05 14:05] posix4e commented on #305
This is stale, so we are going to stop work til we see more activity

[2022-05-05 14:06] posix4e commented on #314
Looks great, continue to watch your work

[2022-05-05 21:12] molecula451 commented on #314
Pushed updates working as intented, doing bulkpayouts, setting up escrow, etc

[2022-05-05 21:18] posix4e commented on #314
Here’s your problem. You don’t want a mintable coin. You want a bridged coin like we did with polygon. We don’t want to increase the supply.

[2022-05-06 08:34] Human-Protocol opened #317 "Add Aurora EVM and become the official maintainer for this network integration"
HMT-Escrow supports arbitrary EVM networks but there's a bit of work to do to make a network first class and make sure that it works. All of our EVM network launches are supported by gitcoin but you can gain a yearly bonus by being our network sponsor. If you need support please join tech-discussions on the human protocol discord linked on hmt.ai.

### Steps to receive gitcoin bounty
- [ ] Launch

[2022-05-06 10:15] foufrix commented on #304
@Human-Protocol @posix4e @vkomodey
I'm running into an error when trying to release the payment from an Escrow on Polygon Mainnet.

EscrowFactory: [0x45eBc3eAE6DA485097054ae10BA1A0f8e8c7f794](https://polygonscan.com/address/0x45eBc3eAE6DA485097054ae10BA1A0f8e8c7f794)
Escrow: [0x32b5662Ab02b8a501Eef2ab15626508B60D64a0c](https://polygonscan.com/address/0x32b5662Ab02b8a501Eef2ab15626508B60D64a0c)

Es

[2022-05-06 10:18] vkomodey commented on #304
Please, try the web3 estimate gas functions to be more precise

[2022-05-06 10:38] foufrix commented on #304
@vkomodey when running :
[code]

in reputation-oracle>index.js

I get 21000

[2022-05-06 13:11] foufrix commented on #304
I've tried with :

[code]

still got an error :
![image](https://user-images.githubusercontent.com/16646581/167137926-ce5ea9e3-dccc-438e-9550-6eb1832ef399.png)

What am I doing wrong?

[2022-05-06 13:22] vkomodey commented on #304
It seems you didn't specify the gas price at all

[2022-05-06 14:52] posix4e commented on #304
Will followup in discord

[2022-05-06 15:32] foufrix commented on #304
Ok thanks for the follow-up, though gasPrice was calculated by default but apparently not. After defining a `const` for it it's now working.

Here is the video (sorry it's in 2 parts) of the fortune app working on the polygon network :
PART 1: https://www.loom.com/share/ec79b76d3ce04464b4b9b921a5586b39
PART 2: https://www.loom.com/share/9c82f0dc22744c6691398c5634fc39d7

Factory : https://polygonsc

[2022-05-06 16:37] tnkerer commented on #305
Thanks for the approval. I have been following this issue since its publishing on GitCoin. I will try to pick it up from where Kase left it, but since I don't have access to the wallet that deployed the smart contracts, I believe I will have to redeploy all contracts.

[2022-05-06 16:38] posix4e commented on #305
@menezesphill id recommend the first thing you work on is bridging existing tokens from ethereum to moonbeam

[2022-05-09 11:36] posix4e commented on #314
@molecula451 wanna grab time to chat about next steps about.me/posix4e

[2022-05-09 11:36] posix4e commented on #305
@menezesphill wanna grab time to chat about.me/posix4e

[2022-05-09 12:05] vkomodey commented on #304
@foufrix Looks good. Let's proceed with the rest

[2022-05-09 12:40] molecula451 commented on #314
@posix4e I'm looking on a possible solution involving `Mainnet` --> `Solana` --> `Neon` --> `wrappedHMT` back and forth, altho the lack of bridges for testnets got it a little bit in delay

[2022-05-09 12:49] tnkerer commented on #305
Great, I wanted to discuss a few options for bridging Hmt tokens to different networks.

[2022-05-10 18:26] posix4e commented on #314
Let's chat about the details, please grab time at about.me/posix4e

[2022-05-12 06:35] molecula451 commented on #314
Pushed thru. I have something to showcast will update in a few

[2022-05-12 17:28] tnkerer commented on #305
Good afternoon team! I just dropped by to give a heads up about bridging HMT to Moonbeam. Here is some information I was able to gather from my interaction with their engineers:

____________________________________________________________________________
**Nomad:** Nomad is an already established solution for bridging from Ethereum to Moonbeam and is recommended by Moonbeam's engineers. I am in c

[2022-05-12 17:30] posix4e commented on #305
amazing work. All look like good options

[2022-05-12 20:08] posix4e commented on #314
Amazing ! I'd love to learn how you are bridging the tokens.

[2022-05-13 08:17] molecula451 commented on #314
For Neon We have https://docs.neon-labs.org/docs/architecture/value_token/

![value_token-1-b2d036ee1eb16f93afb44721012eeabd](https://user-images.githubusercontent.com/41552663/168230913-0ab92188-29e0-433b-a03d-80f1038d59a7.png)

This is what I came up with so far. As this is a highly clean approach and it's better UX. The fact the "bridges" requires a lot of maintanance in the networks. e.j Polyg

[2022-05-13 11:17] foufrix commented on #304
Here are the PR linked to this issue :
- Update of hmt-escrow smart contract for polygon and dependencies : https://github.com/humanprotocol/hmt-escrow/pull/319
- update escrow-dashboard : https://github.com/humanprotocol/escrow-dashboard/pull/7
- update fortune app to calculate automatically gas cost for payout : https://github.com/humanprotocol/fortune/pull/33

[2022-05-13 11:22] posix4e commented on #304
@foufrix we've officially declared you the polygon maintainer. Please make a PR request to the readme to update your name here

[2022-05-13 11:24] posix4e commented on #314
Plan approved

[2022-05-13 11:42] foufrix commented on #304
@posix4e awesome thanks 🙏
PR to add me as maintainer in readme: https://github.com/humanprotocol/hmt-escrow/pull/322

[2022-05-13 15:10] foufrix commented on #304
@posix4e updated PR https://github.com/humanprotocol/hmt-escrow/pull/323 with only polygon network, contract update & maintainer so that we can validate this issue. I will do a new one for updating wallet and docker image.

[2022-05-13 17:59] molecula451 commented on #314
any toughts on getting the job funded @posix4e? Giving the fact that we would need to deal with Neonteam responses time. We also have a lot of technical limitations due to chain capabilities, between the chain. Solana also have a lot of stuff to deal with. Bridging it's not at all the problem as shown above. As we can get the token in and out. The limitations are technically imposed by these chain

[2022-05-13 18:03] posix4e commented on #314
I'll see if i can get neon team to chat

[2022-05-13 18:11] Human-Protocol commented on #314
@molecula451 reach out to @humannewman on telegram (me) and I'll put you in the channel with the neon team and we can see about getting assitance.

[2022-05-22 17:44] molecula451 commented on #314
Fortune App under Neon Network @Human-Protocol @posix4e this is pretty much done

https://user-images.githubusercontent.com/41552663/169708333-6d05bca8-f20e-4c7b-99bf-41dd4198828f.mp4

[2022-05-23 14:54] Human-Protocol commented on #317
Before you get started, what’s your token bridge strategy?

[2022-05-23 15:52] molecula451 commented on #314
crafted bridging guide accesible on https://molecula451.github.io/hmt-neon-guide/HMTSolana.html

[2022-05-27 07:26] lyledavids commented on #317
Hi, if you are referring to how I bridge eth to aurora? I used the rainbow bridge

[2022-05-27 11:44] posix4e commented on #317
Sounds good. Just don't want you launching a new token. Want to come chat with us on tech-discussion on discord to cover the benefits of becoming a maintainer. AKA how much we will pay you

[2022-05-27 11:44] posix4e commented on #305
@menezesphill any updates?

[2022-05-27 13:37] tnkerer commented on #305
@posix4e our bridge on Multichain is online! This week will have more updates about the non-bridge-related tasks! 😁

[2022-06-01 05:14] tnkerer commented on #305
Hi @posix4e, have a few updates for this issue. Relevant documentation is [here](https://github.com/menezesphill/hmt-moonbeam). I just need a few HMT tokens on Ethereum mainet to proceed with bridge testing (Multichain minimum for HMT swaps is 50 HMT) and then I will be ready to prepare my PRs for this repo readme file and to [escrow-dashboard](https://github.com/humanprotocol/escrow-dashboard).

[2022-06-02 04:16] tnkerer commented on #305
@posix4e updating what has been done so far:

**Task 1: Launch the contracts on the devnet and make sure that everything is working**

Relevant documentation is available [here](https://github.com/menezesphill/hmt-moonbeam#-deployed-smart-contract-addresses-on-moonbeam).
____________________________________________________________________________
**Task 2: Launch contracts on production network an

[2022-06-13 20:17] Charlie85270 opened #331 "Create and publish contracts on NPM package"
To automate the compilation of contracts on the subgraph rpo, it is necessary to publish a npm package at each modification of the contracts, containing the last version of them.

[2022-06-13 20:17] Charlie85270 commented on #331
@posix4e

[2022-06-14 09:38] Human-Protocol commented on #317
Hey @lyledavids,
We were just going through open issues and found this pending, can you help us with the current state of this issue?

[2022-06-14 09:41] #304 closed, assigned to foufrix

[2022-06-14 09:42] vkomodey commented on #331
Hey, @Charlie85270. Thanks for your suggestion!

Just wondering, why do we need an npm package for a python library?
This is a python package that is published to the PyPI after each change, not only after contract changes. This library doesn’t have javascript interface also, only a python one. We use JS just for tooling(compiling, testing and etc.)

The subgraph recompilation can be done during t

[2022-06-14 13:06] Charlie85270 commented on #331
Hey @vkomodey, the goal is to be able to compile the contracts (Escrow.sol, EscrowFactory.sol, HMToken.sol) and generate ABI files from the subgraph repo without the need to copy them by hand each time and always have the latest version of the ABI files on the subgraph repo.
In case of one of these contracts are updated we need two things :

- Update the ABI files on the subgraph
- Recompile the s

[2022-06-14 13:40] vkomodey commented on #331
@Charlie85270 agree!

[2022-06-15 07:24] #305 closed, assigned to vkomodey, excerebrose, kaseLunt

[2022-06-17 11:12] vkomodey opened #333 "Integrate The Graph index engine"
**Is your feature request related to a problem? Please describe.**
It is too hard to iterate over events for a particular contract. For example - we can't easily display all jobs(Launched event) for the particular Escrow Factory. All modern APIs can't handle more than 10k blocks per time. This is painful for any dashboard/telemetry application related to HUMAN

**Describe the solution you'd like**

[2022-06-17 11:19] vkomodey commented on #331
Closed. See the #333 for further work

[2022-06-17 11:19] #331 closed, assigned to nobody

[2022-06-21 14:40] lyledavids commented on #317
Deployed contracts to testnet and mainnet already, recently finished the kvstore step.
Need to add an app, add dashboard and verify.

[2022-06-21 15:59] foufrix commented on #333
Hi @vkomodey , this issue seems also to be linked to this one https://github.com/humanprotocol/humansubgraph/issues/7 no?

[2022-06-21 16:19] vkomodey commented on #333
@foufrix that's right

[2022-06-21 16:37] posix4e commented on #333
@foufrix i just talked to the team and I was totally wrong . It is open for @charlie

[2022-06-21 16:39] foufrix commented on #333
Ok @Charlie85270 for you to catch up, @posix4e I'll delete my previous comment, and random charlie got pinged 😄

[2022-06-23 11:09] Human-Protocol opened #335 "Add BSC and become the official maintainer for this network integration"
HMT-Escrow supports arbitrary EVM networks but there's a bit of work to do to make a network first class and make sure that it works. All of our EVM network launches are supported by gitcoin but you can gain a yearly bonus by being our network sponsor. If you need support please join tech-discussions on the human protocol discord linked on hmt.ai.

### Steps to receive gitcoin bounty
- [ ] Suggest

[2022-06-24 16:38] ivhus commented on #333
@vkomodey @Charlie85270

As I understood you want to trigger ci+cd for subgraphs from the event in this repo.

This can be done cross-repo (triggered in https://github.com/humanprotocol/humansubgraph repo's CICD upon event in this repo), what the triggering event should be, a commit to `master` here?

But it won't deploy anything new there as subgraph didn't change. In other words, what is "subgra

[2022-06-24 17:13] ivhus commented on #333
Now had a look at PR https://github.com/humanprotocol/hmt-escrow/pull/337

As I understood it's this ticket implemented, from CI+CD perspective looks fine @posix4e @vkomodey @charlie85270

[2022-06-26 20:13] #333 closed, assigned to nobody

[2022-06-30 13:27] developerfred commented on #335
@Human-Protocol can you assign me to this task?

[2022-07-02 15:04] ankitzm commented on #317
Is this issue still open or someone is working on this. I would love to contribute to this but I might need some assistance with the integration.

I see that there is no worker on Gitcoin and submission date is extended. But the payout dates are expired.
![image](https://user-images.githubusercontent.com/66105983/177005859-473752b2-f05c-42bf-afda-796de9fd4be7.png)

[2022-07-03 08:52] foufrix commented on #317
Hi @ankitzm , issue is still open and if you are interested in the integration of HMT on Aurora you are welcome to go :)
We will reupdate the gitcoin issue

[2022-07-03 08:54] foufrix commented on #335
Hi @developerfred, it would be nice to finish the Avalance integration first that you started months ago: https://github.com/humanprotocol/human-protocol/issues/137
How are you on this?

[2022-07-05 09:50] foufrix commented on #335
Hi @leetdev, reply to this issue so that I can assign it to you.
Then don't hesitate to hop on the discord server (which can be found here https://www.humanprotocol.org/) and if you need tech-related help ask in tech-discussion, good luck on your task :)

[2022-07-05 09:58] foufrix commented on #317
Hi @lyledavids where are you on this issue?

[2022-07-05 09:59] leetdev commented on #335
Thanks! I'm already on your Discord, I will be sure to ask if I need anything.

[2022-07-05 16:41] lyledavids commented on #317
Hi @foufrix Still need to add an app, add dashboard and verify.
My time has been limited recently, @ankitzm can work on the bounty

[2022-07-06 07:31] foufrix commented on #317
@ankitzm you are good to go :) please specify which bridging you will use for the task.

[2022-07-06 07:43] ankitzm commented on #317
@foufrix, I think that Rainbow bridge should work !!
It would be great if we can have a meet and you brief me about the tasks to be done.

[2022-07-06 07:54] foufrix commented on #317
@posix4e can help you on that, you can grab a time to meet here : https://about.me/posix4e

[2022-07-11 13:42] vkomodey opened #344 "Add CD instructions for redeploying all human subgraphs"
**Is your feature request related to a problem? Please describe.**

Problem: manual subgraph redeploy is required after each change in the hmt_subgrah folder.

**Describe the solution you'd like**
Redeploy subgraphs each time when either of "contracts" or "hmt_subgraph" folders have changes

**If you need help**
Join tech-discussions on the human protocol discord.

[2022-07-11 15:54] foufrix commented on #335
Hi @leetdev,
Is everything good on your side? Did you manage to make progress on this task? If you need any help don't hesitate to reach out here or on Discord

[2022-07-11 15:56] foufrix commented on #317
Hi @ankitzm,
Is everything good on your side? Have you taken a meeting with @posix4e? Did you manage to make progress on this task? If you need any help don't hesitate to reach out here or on Discord.

[2022-07-11 16:19] leetdev commented on #335
Hi @foufrix, it's been a bit of a slow start for me on this issue because I've been somewhat busy with other tasks, but I've been familiarizing myself with your other integrations and figuring out a strategy. I should be able to fully commit in the next few days, I'll present my ideas then.

[2022-07-11 16:59] foufrix commented on #344
Already fixed apparently by @posix4e

[2022-07-11 17:01] vkomodey commented on #344
@foufrix how?

[2022-07-11 17:11] posix4e commented on #344
Sorry I was confused. This isn’t fixed. It’s a documentation fix. let’s not
assign a bounty to it currently.

[2022-07-11 19:29] ankitzm commented on #317
I have set a meeting with @posix4e for now(12 Jul 2022 12:30am – 1am IST) but I think he is not available. It would be great if you can tell me a better time to meet. I am in IST time zone.

[2022-07-11 19:30] Human-Protocol commented on #317
Hey I’m on the call now. Sorry for the delay

On Mon, Jul 11, 2022 at 3:29 PM 'Ankit Singh' via gitcoin ***@***.***>
wrote:

[2022-07-11 19:48] ankitzm commented on #317
I am joining

[2022-07-12 09:58] #344 closed, assigned to nobody

[2022-07-13 10:35] ankitzm commented on #317
Yes, I have started working on it and joined discord to get my doubt sorted.

[2022-07-21 10:48] foufrix commented on #335
Hi, @leetdev any updates?

[2022-07-21 10:49] foufrix commented on #317
Hi @ankitzm, have you made progress on the task?

[2022-07-21 11:06] leetdev commented on #335
Hi @foufrix, my apologies for the delay. I got pretty much everything figured out, just need to do a write-up, but then I managed to catch COVID and was out of commission for almost a week. I'm better now, and hoping to get the detailed write-up of the integration plan finished by tomorrow.

[2022-07-21 11:50] foufrix commented on #335
@leetdev thank you for the quick update! Hope you are well now and out of Covid 🙏 . Awesome for the write-up!

[2022-07-21 18:37] ankitzm commented on #317
I was unable to deploy the contract to testnet and get into further steps. Probably I lack some knowledge of it right now and will learn these things with time.

I think, I will not be able to raise a PR for this but I might contribute to something that I know better.
I am un-assigning myself now, so that others can pick up the issue.

[2022-07-21 21:18] foufrix commented on #317
No worries @ankitzm, thanks for keeping us updated!

[2022-07-26 12:04] Jalal-1 commented on #314
We still need a maintainer for this.

[2022-07-27 08:14] foufrix commented on #335
Hi, @leetdev hope you are feeling better, do you have an update on this task?

[2022-07-31 10:00] foufrix commented on #317
Hi @Soteria-Smart-Contracts, if you can send a message on this issue so that I can assign you to it.
You can join us on Discord if you need any help.
Don't hesitate to ask questions if you are stuck

[2022-08-02 12:34] foufrix commented on #335
Hi @leetdev, possible to have an update?

[2022-08-02 15:21] leetdev commented on #335
Hi @foufrix, so sorry for the delay, I somehow forgot to respond the last time you asked.

There were some complications with my illness that made it pretty much impossible for me to get any work done. I am finally recovering now and hopefully I can finally present my ideas tomorrow. I've had some time to think about this stuff, and I have a few ideas on how to do the bridging (I think my initial

[2022-08-04 07:38] foufrix commented on #317
@Soteria-Smart-Contracts have you seen the previous message?

[2022-08-09 07:22] foufrix commented on #335
Hi @leetdev, Do you have any updates? We want to move a bit faster on this. If we have no news on that issue after 3 days I will have to let the opportunity to someone else.

[2022-08-09 13:12] leetdev commented on #335
Hi @foufrix,

Here are the results on my research on bridging tokens between the two networks. There are more options available, but I picked two existing solutions that seemed the most promising, as well as using a custom solution.

1. [cBridge](https://cbridge.celer.network/)

According to my research, this one probably has the lowest fees for bridging tokens. However, to get a token listed, it

[2022-08-11 07:44] foufrix commented on #335
Hi @leetdev, thank you for your quick reply! Hope you are now well. Sorry to be a bit direct but lots of candidates go AOL, and it's complicated for us to know if people are still dedicated to the tasks or don't care anymore. Happy to see that you still want to contribute!
We are already using Multichain for the Polygon <=> ETH bridge so you can go with this solution

[2022-08-12 10:59] leetdev commented on #335
Hi @foufrix, no problem, I completely understand.

As for setting up the token bridge, I filled out their application, but it turns out someone with an official email address needs to verify it. We have 2 options - either 1. someone from within the organization sets it up (https://dard6erxu8t.typeform.com/to/C7RwF08A), or 2. I can forward the email to an official address, and we can complete the v

[2022-08-12 11:03] foufrix commented on #335
@posix4e @Jalal-1 need your help on that, do we have an official account already with Multichain ?

[2022-08-12 11:34] Human-Protocol commented on #335
Hey @foufrix and @leetdev I (@ansaqib) am here and I can help with this. We already are using multichain, this bridge is needed from Polygon to BSC?

[2022-08-12 11:42] Human-Protocol commented on #335
Multichain said that there is a request for ETH to BSC

[2022-08-14 10:21] foufrix commented on #335
@leetdev the bridge is needed from Polygon to BSC, we are requesting also from ETH to BSC, waiting for multichain answer

[2022-08-14 11:48] leetdev commented on #335
@foufrix and @Human-Protocol - I submitted a request for the ETH-BSC bridge the other day, which is probably why it was blocked. I've sent them an email to cancel my request so you guys can resubmit it officially.

In the mean time, I've setup contracts on BSC testnet, working on testing it using the fortune app now. I will post all my results here when complete. After that, all that is left to do

[2022-08-14 13:46] foufrix commented on #335
@leetdev this is awesome, you've grasped everything that needs to be done.
For the fortune app if you have trouble to make it works on tesnet, do not hesitate to ping me or @Jalal-1
You can also check the PR made by me and issue created on fortune to understand how to configure it.

[2022-08-15 09:32] leetdev commented on #335
@Human-Protocol FYI, I got a response from Multichain telling me they've canceled my request for the ETH-BSC bridge. Please let me know the HMT token address on BSC once the bridge has been set up.

I'll also need some BNB and HMT for deploying the contracts and testing. You can send it to `0x922F80dC06342861CAf5Dcd16FcAd33500a9c1C9` (this is the address I'll be deploying the contracts from, creat

[2022-08-15 09:38] Human-Protocol commented on #335
Will keep you posted about the bridge, thanks for testing out fortune app. How much HMT and BNB you would be needing and on which network?

[2022-08-15 09:51] leetdev commented on #335
I think 0.1 BNB should be enough. As for HMT, 20 should suffice. The network is BSC Mainnet, so obviously when it comes to HMT it'll have to wait until the bridge is up.

[2022-08-19 09:57] leetdev commented on #335
@Human-Protocol Looks like Multichain has deployed the token contract at `0x0d501b743f22b641b8c8dfe00f1aab881d57ddc7`. Can you send the BNB and HMT to `0x922F80dC06342861CAf5Dcd16FcAd33500a9c1C9` as discussed so I can complete setting things up?

[2022-08-19 13:54] ansaqib opened #352 "Query historical data from a GraphQL endpoint"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
The current [dashboard](https://dashboard.humanprotocol.org/) implementation doesn't have historical data of the elements it reflects for respective networks.

**Describe the solution you'd like**
A clear and concise description of what you

[2022-08-20 14:26] Human-Protocol commented on #335
Yes that’s correct, we will get HMT and BNB to you by Monday

[2022-08-23 09:20] foufrix commented on #317
Multichain bridge has put Aurora on hold, a new bridge is needed in order to finish this issue.

[2022-08-23 09:59] foufrix commented on #335
Hi @leetdev fund has been sent, 0.2 BNB on BSC chain and 50 HMT on Polygon chain to bridge to BSC using multichain
If you need anything don't hesitate to reach out here or on Discord

[2022-08-23 10:54] leetdev commented on #335
@foufrix thanks! I've set up the contracts and created a PR. I'm going to bridge over the HMT and make a test run on the mainnet.

I'm also currently in the process of adding the new integration to the dashboard, however I'm a little confused right now as to the subgraph part of the task. Should I deploy my own subgraph and add that to dashboard configuration, or will it be set up separately on th

[2022-08-23 11:56] leetdev commented on #335
Actually, it turns out the minimum amount for the Polygon-BSC bridge is 100 HMT because the minimum fee is almost 50 HMT:

<img width="730" alt="image" src="https://user-images.githubusercontent.com/14195735/186151109-c9e419ec-ef29-44f1-9b61-6c1e3d59392d.png">

[2022-08-23 12:12] foufrix commented on #335
Thanks for the quick reply @leetdev !

@ansaqib if you can send 100 more HMT would be nice so that @leetdev have enough to work with

@vkomodey do you know the answer for the subgraph part on dashboard?

[2022-08-23 12:14] Human-Protocol commented on #335
Sure I will send out more HMT in like 30 mins from now

[2022-08-23 17:01] leetdev commented on #335
@Human-Protocol I'm not seeing anything in the wallet yet. By the way, 50 more HMT is enough, I just need 100 in total to bridge it over to BSC.

[2022-08-23 17:54] ansaqib commented on #335
You should have it now @leetdev

[2022-08-23 22:04] hrik2001 commented on #317
Hey! Saw this issue on gitcoin and thought of dropping by. I might be interested. What I like is that you guys are willing to help out. Do lmk if this is still open :)

[2022-08-23 22:06] foufrix commented on #317
Hi @hrik2001 issue is still open, you'll need to provide us a strategy for bridging though as what we planned with multichain is no longer available

[2022-08-23 22:20] hrik2001 commented on #317
@foufrix multichain bridge seems to have support for aurora, polygon and ethereum. The latter 2 are the only blockchains where you have contracts I believe, so that should work. But I did see one of your messages previously that said that multibridge might have issues. I do see allbridge as alternative

[2022-08-24 07:14] foufrix commented on #317
@hrik2001 awesome thanks for the bridging strategy, do you want to do the issue once the bridging is up ? If so apply on gitcoin and I will assign you to it
Yes we asked multichain and for the moment aurora is on hold.

@ansaqib can you send a request to https://allbridge.io/ for the bridge ? They do have polygon and aurora

[2022-08-24 09:44] ansaqib commented on #317
Cool, thanks will take the allbridge.io part

[2022-08-24 09:53] hrik2001 commented on #317
hi @foufrix! Sure I am willing to work for it once the bridging is up. I will apply at gitcoin (in few hours).
@foufrix I also wanted to ask if I should also join discord. I am new to web3 but I have started contributing to open source so that I can learn things better, while also contributing. I would be glad if I also have some sort of guidance while I am working on this, although I do feel conf

[2022-08-24 10:14] leetdev commented on #335
I've successfully verified that the contracts are working on BSC. The only thing left to do is to add the new network to the dashboard. For that, I've created a new branch in my fork of the [humansubgraph](https://github.com/humanprotocol/humansubgraph) repository, but in order to create a PR, the branch needs to be added to the main repository. Could someone with access create a `bsc` branch? Add

[2022-08-24 10:26] leetdev commented on #335
### Steps to receive gitcoin bounty
* [x]  Suggest and have us authorize your bridging strategy. After all we need to bridge HMT over to the new network. Usually we need to use a erc20 compatible approach.
* [x]  Launch the contracts on the devnet and make sure that everything is working
  * HMToken: [0x1f613bc2f4e741EA96d30A5957fF7fA6916acDD6](https://testnet.bscscan.com/address/0x1f613bc2f4e741E

[2022-08-24 10:29] foufrix commented on #317
@hrik2001 this exactly the type of contribution we are looking for :)
This task has already been done on different network, I suggest you watch the closed issues on polygon and moonbeam, you'll grasp exactly what needs to be done there.

Feel free to hope on our [Discord](https://discord.gg/ms3wxMHv)  and talk on the channel #tech-discussion

[2022-08-24 10:30] leetdev commented on #335
FYI, the [gitcoin issue](https://gitcoin.co/issue/29057) for this bounty has expired. Can you update its expiration date so I can post my submission? Alternatively, you can payout the bounty directly to the following address on BSC: `0x171a84d58dA4d9B065B462e77ab5C1A81Efe7B5b`

[2022-08-25 10:39] foufrix commented on #335
@leetdev awesome thanks for your contribution 🙏 . I need some validation from the tech team. To me, all appear good except the comment I've put to join the deployment of the 2 contracts on humanprotocol/hmt-escrow#354
@Jalal-1 or @vkomodey can you confirm that everything is good on your side?

For payment, @ansaqib will handle that directly once the tech team validates everything

For the official

[2022-08-25 11:34] leetdev commented on #335
I've filled out the ambassador form. Note that none of the roles in the form really fit this role of a network integration maintainer, so I just picked HUMAN Emissary. I'll be available via email or discord to follow up on KYC.

[2022-08-25 18:14] posix4e commented on #335
We no longer use the human subgraph rep. It is all in hmt-escrow now

[2022-08-25 18:17] ansaqib commented on #335
[humansubgraph](https://github.com/humanprotocol/humansubgraph) is merged into hmt-escrow, you shouldn't need `humanprotocol/bsc`

[2022-08-26 08:13] leetdev commented on #335
Thanks, I didn't realize it had been moved. I've added a commit adding subgraph deployment to humanprotocol/hmt-escrow#354.

[2022-08-27 11:54] Charlie85270 commented on #352
Hello team, after discussed with foufrix on discord I'll work on this issue.
This issue is for index and create GraphQL endpoint to query historical data (wrt time) ?
Integrate the mock-up on the dashboard is another feature (Mock up is share to give context)  ?

[2022-08-29 13:43] foufrix commented on #335
Hi @leetdev, your contribution is currently being reviewed by the team. Almost done!
Thank you for your awesome job 🙏

[2022-08-29 18:43] posix4e commented on #352
Yep!

Yep!

[2022-09-04 09:14] foufrix commented on #317
Hi @ansaqib, do we have news from allbridge?

[2022-09-05 07:17] ansaqib commented on #317
I had an initial meeting with them - Apparently it's not as straight forward as it was with Multichain so the initial contract might take sometime

[2022-09-06 12:26] foufrix opened #358 "Query Token Price from Coingecko API"
- [ ] Create a function that retrieves Token Price from Coingecko API

[2022-09-06 12:36] foufrix opened #359 "Query Token Holders from scan API"
- [ ] create a function that retrieves Token Holders with scan API for ethereum/polygon network

[2022-09-06 13:35] posix4e commented on #358
I have no idea why this was closed?

[2022-09-06 13:44] posix4e commented on #359
Duplicated in dashboard repo

[2022-09-06 13:44] #359 closed, assigned to nobody

[2022-09-06 13:44] posix4e commented on #358
Duplicated in dashboard repo

[2022-09-06 13:44] #358 closed, assigned to nobody

[2022-09-08 20:50] foufrix commented on #352
PR linked to issue : https://github.com/humanprotocol/hmt-escrow/pull/357

[2022-09-22 18:59] posix4e commented on #335
Reverted https://github.com/humanprotocol/hmt-escrow/pull/365

[2022-09-27 09:11] foufrix commented on #335
Grant paid out, Leetdev KYC done (official BSC maintainer), but graph indexation is currently failing. (https://github.com/humanprotocol/hmt-escrow/pull/365)

[2022-10-04 13:10] foufrix commented on #317
On hold as we are waiting for a bridge company to answer to us. Multichain is stopping new bridge on Aurora, allchain is too expensive and synapse we are waiting for an answer

[2022-10-04 13:12] foufrix commented on #335
BSC graph indexation now working. Shall we re-revert humanprotocol/hmt-escrow#365 @posix4e ?

[2022-10-04 13:12] foufrix commented on #352
@Charlie85270 this is finished, right? From what I remember we have 2 points needed to be addressed on the dashboard

[2022-10-04 13:22] foufrix commented on #352
PR linked to issue https://github.com/humanprotocol/escrow-dashboard/issues/70 (integration of price and token holder) the rest is done

[2022-10-05 13:31] foufrix commented on #335
humanprotocol/hmt-escrow#373 merged, normally we are good

[2022-10-10 12:50] posix4e commented on #335
Can we make the change to get it on the new dashboard?

[2022-10-11 12:24] portuu3 opened #379 "Move all contracts into contracts folder"
**Is your feature request related to a problem? Please describe.**
Improve repo structure

**Describe the solution you'd like**
Move the folders bsc_contracts and polygon_contracts into contracts, to avoid having a folder by network in the root path.
Update references to the contracts contained in those folders.

[2022-10-12 10:24] portuu3 opened #380 "Change BSC testnet contract addresses"
**Is your feature request related to a problem? Please describe.**
BSC testnet contract addresses must be changed because Human foundation doesn't have control on them

**Describe the solution you'd like**
Redeploy contracts and update addresses

[2022-10-12 11:05] portuu3 opened #382 "Add transfer ownership to HMT token"
**Is your feature request related to a problem? Please describe.**
Whenever someone from the community deploys HMT contract for some development they cannot transfer the ownership of this contract to Human Protocol Foundation

**Describe the solution you'd like**
Add a function to the contract to transfer ownership

[2022-10-12 14:11] #380 closed, assigned to portuu3

[2022-10-16 12:03] #379 closed, assigned to portuu3

[2022-10-19 12:47] posix4e opened #387 "Fix job launch server tests"
Checkout https://github.com/humanprotocol/hmt-escrow/actions/runs/3277721613/jobs/5395326093 and fix it in https://github.com/humanprotocol/hmt-escrow/pull/386

[2022-10-20 13:29] Charlie85270 commented on #382
I'm on it !

[2022-10-20 15:53] posix4e opened #390 "Cleanup Docker, dependencies and testing"
This repo has two major environments it runs under.

1) Python (legacy mode)
2) a more modern JS mode

Create two dockerfiles that all of the tests in the repo use which inherit the same root

## Make improvement ideas

- [x] All the contracts and abi generation can be centralized. We can remove duplicate abi copies copied and pasted throughout the repo.
- [x] The javascript version can take over

[2022-10-20 16:09] posix4e commented on #390
@leric7 i'll be using your help to make sure we upgrade all the js/ethereum code to use a modern hard hat installlation

[2022-10-21 08:16] portuu3 opened #396 "Merge humanprotocol/fortune into humanprotocol/hmt-escrow"
**Is your feature request related to a problem? Please describe.**
Merge fortune into hmt-escrow

**Describe the solution you'd like**

- Merge code
- Fix CI/CD
- Bring issues from fortune

[2022-10-21 15:56] #382 closed, assigned to nobody

[2022-10-21 15:56] #352 closed, assigned to Charlie85270, m00n620

[2022-10-24 15:02] posix4e opened #401 "Repair escrowdashboard deployment"

[2022-10-24 21:38] posix4e opened #404 "Combine all of the package.json and yarn files"
The repo has a lot of examples, and different libraries which all have there own workflow. Let's combine into a single Docker/package.json file. The tests can be kept separate or combined at that point.

# Todo
- [ ] Remove all hard copies of abi and contract source code and replace them with some type of reusable logic
- [ ] Make sure python tests still run
- [ ] Reduce the number of docker conta

[2022-10-24 21:39] #401 closed, assigned to ivhus

[2022-10-27 14:55] foufrix opened #412 "bug: escrow-dashboard: amount Circulating Supply & Total Supply are wrong polygon tab"
On the polygon tab here: https://dashboard.humanprotocol.org/
Circulating Supply (0) & Total Supply (1 000 000 000) are wrong, as total supply is the total token on both ETH & Polygon.
From the token contract on Polygon, we can see : https://polygonscan.com/token/0xc748b2a084f8efc47e086ccddd9b7e67aeb571bf that there are only 812,244 HMT bridged

![image](https://user-images.githubusercontent.com/1